
@{
    ViewBag.Title = "Policy";
}

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="#">Горячие предложения</a></li>
                <li><a href="#">Категории</a></li>
                <li><a href="#">Аксессуары</a></li>
                <li><a href="policy.html">Правила пользования</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Правила Пользования</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li class="active">Правила</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- Договор -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="./img/dogovor.PNG" alt="">

                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Документ</p>
                                        <h3 class="product-name"><a href="https://amigocar.md/contract/docs_file/Contract_carsharing_Amigo_ru.pdf" target="_blank">Договор Global Auto</a></h3>
                                    </div>

                                </div>
                                <!-- /Договор -->
                                <!-- Правила пользования -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="./img/pravila2.png" alt="">

                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Документ</p>
                                        <h3 class="product-name"><a href="https://amigocar.md/contract/docs_file/App_1_terms_of_use_ru.pdf" target="_blank">Правила Пользования</a></h3>
                                    </div>

                                </div>
                                <!-- /Правила пользования -->
                                <!-- Штрафы -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="./img/straf.png" alt="">

                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Документ</p>
                                        <h3 class="product-name"><a href="https://amigocar.md/contract/docs_file/App_3_Tariffs_ru.pdf" target="_blank">Штрафы, санкции</a></h3>
                                    </div>

                                </div>
                                <!-- /Штрафы-->
                                <!-- Акт приема -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="./img/actpriema.png" alt="">

                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Документ</p>
                                        <h3 class="product-name"><a href="https://amigocar.md/contract/docs_file/transmission_acceptance_certificate_ru.pdf" target="_blank">Акт приема, передачи</a></h3>
                                    </div>

                                </div>
                                <!-- /Акт приема-->
                                <!-- Заявление -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="./img/zayava.png" alt="">

                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Документ</p>
                                        <h3 class="product-name"><a href="https://amigocar.md/contract/docs_file/App_6_termination_statement_ru.pdf" target="_blank">Заявление о расторжении договора</a></h3>
                                    </div>

                                </div>
                                <!-- /Заявление-->
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
				</div>
<!-- /row -->
			</div>
<!-- /container -->
		</div>
<!-- /SECTION -->
<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Подпишись на <strong>РАССЫЛКУ</strong></p>
                    <form>
                        <input class="input" type="email" placeholder="Enter Your Email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->
